<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理控制中心</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.19.0-beta.1/axios.min.js"></script>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>

    <header>
        <nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top">
            <!-- Brand -->
            <a class="navbar-brand" href="#">管理控制中心</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMain">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navMain" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item"><a class="nav-link" v-on:click="showPage = 'pageOverview'" href="#">状态概览</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" v-on:click="showPage = 'pageSenceCtl'" href="#">情景设置</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" v-on:click="showPage = 'pageSysSetting'" href="#">系统设置</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" v-on:click="showPage = 'pageDeviceCtl'" href="#">设备管理</a>
                    </li>
                </ul>
            </div>
            <!-- <ul id="navScen">
        </ul> -->
        </nav>
        <div id="navFake"></div>
    </header>

    <div id="mainContainer" class="container">
        <!-- 状态概览 -->
        <section id="pageOverview">
            <div class="row d-flex justify-content-center">
                <div id="clock" class="col-sm-12 col-md-12 col-lg-5 text-center d-none d-sm-block" v-cloak>
                    <p id="clockTime">{{ time }}</p>
                    <div>
                        <p class="date">{{ date }}</p>
                        <p class="week">{{ week }}</p>
                    </div>
                </div>
                <!-- <div class="col-sm-1 d-md-block"></div> -->
                <div class="col-sm-10 col-md col-lg-5 bg-dark ml-4 mr-4 p-auto h-auto">
                    <div id="weather" class="" v-cloak>
                        <!-- <div class="p-auto bg-light mt-auto mb-auto">
                        <p class="p-auto">当前状态{{ sysStatus }}</p>
                    </div> -->
                        <div class="d-flex justify-content-between">
                            <div class="boxLeft pl-4">
                                <div class="city">{{ weatherData.city }}</div>
                                <div class="wea">{{ weatherData.wea }}</div>
                            </div>
                            <div class="boxRight pr-4">
                                <div class="tem">{{ weatherData.tem }}<span class="small">℃</span></div>
                                <div class="temHL small d-flex justify-content-around">
                                    <div>最高{{ weatherData.tem1 }}℃</div>
                                    <div>最低{{ weatherData.tem2 }}℃</div>
                                </div>
                            </div>
                        </div>

                        <div class="boxTime d-flex justify-content-between m-4">
                            <div class="boxTime small">更新时间：{{ weatherData.update_time }}</div>
                            <div class="small weatherUpdate" v-on:click="getWeather">立即更新</div>
                        </div>
                        <!-- 户外湿度{{ weatherData.humidity }}
                        空气质量{{ weatherData.air_level }} -->
                    </div>
                    <div id="statusTips" class="col-sm-10 col-md col-lg-5 bg-dark ml-4 mr-4 p-auto">
                        <!-- <div class="p-auto bg-light mt-auto mb-auto">
                        <p class="p-auto">当前状态{{ sysStatus }}</p>
                    </div> -->
                        <div class="mt-auto mb-auto">
                            <div class="alert alert-success mt-3 mb-3" role="alert">
                                A simple success alert—check it out!
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-1 d-md-block"></div> -->
            </div>
            <div class="d-flex justify-content-center">
                <div class="row mt-3 col-11 p-0">
                    <div v-for="(data,key) in item" class="col-sm-6 col-lg-4 col-xl-12 p-0">
                        <!-- <div class="mt-4 ml-1 mr-1 p-3 rounded-lg border border-white" tabindex="0" data-toggle="popover" data-placement="top" data-trigger="focus" title="Dismissible popover" v-bind:data-content="data.popover">  -->
                        <div class="mt-4 ml-1 mr-1 p-3 rounded-lg border"
                            v-bind:class="{ 'border-dark': data.status == -1, 'border-white': data.status == 0 || data.status == -2, 'border-warning': data.status == 1, 'border-danger': data.status == 2 }"
                            data-toggle="modal" v-bind:data-target="data.targetIdSharp">
                            <div
                                v-bind:class="{ 'text-dark': data.status == -1, 'text-warning': data.status == 1, 'text-danger': data.status == 2 }">
                                <h3>{{ data.cname }}</h3>
                                <p class=" m-0">{{ data.data }}<span class="small"> {{ data.unit }} </span></p>
                            </div>

                        </div>
                        <!-- Modal -->
                        <div class="modal fade" v-bind:id="data.targetId" tabindex="-1" role="dialog"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content bg-dark">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ data.cname }}说明</h5>
                                    </div>
                                    <div class="modal-body">
                                        {{ data.comment }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 情景设置 -->
        <section id="pageSenceCtl">
            <div class="d-flex justify-content-center">
                <div class="row col-12 p-0">
                    <div v-for="(data,key) in item" class="col-xl-12 p-0">
                        <div class="mt-3 ml-1 mr-1 p-3 rounded-lg border border-white">
                            <h3>{{ data.cname }}传感器设置</h3>

                            <form class="">
                                <div class="form-group">
                                    <div class="m-3">
                                        <p class="d-inline">启用状态监控</p>
                                        <div class="custom-control custom-switch d-inline">
                                            <input type="checkbox" class="custom-control-input"
                                                :id="`useWatcher${data.uid}`" v-model="data.useWatcher">
                                            <label class="custom-control-label" :for="`useWatcher${data.uid}`"></label>
                                            <small class="text-muted">
                                                允许程序监控并判断传感器状态
                                            </small>
                                        </div>
                                    </div>
                                    <div class="m-3">
                                        <p class="d-inline">使用邮件通知</p>
                                        <div class="custom-control custom-switch d-inline">
                                            <input type="checkbox" class="custom-control-input"
                                                :id="`useEmail${data.uid}`" v-model="data.useEmail">
                                            <label class="custom-control-label" :for="`useEmail${data.uid}`"></label>
                                            <small class="text-muted">
                                                允许状态异常时发送邮件
                                            </small>
                                        </div>
                                    </div>
                                    <div class="m-3 form-inline">
                                        <label :for="`lowVal${data.uid}`">低比值</label>
                                        <input type="text" :id="`lowVal${data.uid}`" class="form-control mx-sm-3"
                                            aria-describedby="lowValHelpInline" v-model="data.lowVar">
                                        <small class="text-muted">
                                            高低比值用于判断传感器是否正常
                                        </small>
                                    </div>
                                    <div class="m-3 form-inline">
                                        <label :for="`highVal${data.uid}`">高比值</label>
                                        <input type="text" :id="`highVal${data.uid}`" class="form-control mx-sm-3"
                                            aria-describedby="highValHelpInline" v-model="data.highVar">
                                        <small class="text-muted">
                                            高低比值用于判断传感器是否正常
                                        </small>
                                    </div>
                                    <div class="m-3 form-inline">
                                        <label :for="`recVal${data.uid}`">恢复值</label>
                                        <input type="text" :id="`recVal${data.uid}`" class="form-control mx-sm-3"
                                            aria-describedby="recValHelpInline" maxlength="2" v-model="data.recVal">
                                        <small class="text-muted">
                                            判断状态是否恢复的过渡值
                                        </small>
                                    </div>

                                    <div class="col-md-12 col-lg-12 d-flex justify-content-end d-block">
                                        <button type="button" v-on:click="save(data.uid)"
                                            class="btn btn-success m-1">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- 设备管理 -->
        <section id="pageDeviceCtl">
            <div class="d-flex justify-content-center">
                <div class="row col-12 p-0">
                    <div class="col-xl-12 p-0">
                        <div
                            class="mt-3 ml-1 mr-1 p-3 rounded-lg border border-white bg-dark d-flex justify-content-between">
                            <div class="row w-100 m-auto">
                                <!-- <p class="col-md-12 mt-auto mb-auto d-inline">IP:</p> -->
                                <ul class="col-md-12">
                                    <li class="d-inline">IP:</li>
                                    <li v-for="ipaddr in ip" class="d-inline">
                                        {{ ipaddr['addr'] }}
                                    </li>
                                </ul>
                                <div class="col-md-12 col-lg-12 d-flex justify-content-around d-block">
                                    <button type="button" onclick="window.location.reload()"
                                        class="btn btn-success m-1">刷新界面</button>
                                    <button type="button" v-on:click="reload" class="btn btn-success m-1">重载后端</button>
                                    <button type="button" v-on:click="reboot" class="btn btn-success m-1">重启设备</button>
                                    <button type="button" v-on:click="poweroff"
                                        class="btn btn-success m-1">关闭设备</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-for="(data,key) in item" class="col-xl-12 p-0">
                        <div class="mt-3 ml-1 mr-1 p-3 rounded-lg border border-white d-flex justify-content-between">
                            <h3 class="mb-auto">{{ data.name }}</h3>
                            <p class="mt-auto mb-auto">{{ data.data }}</p>
                        </div>
                    </div>
                    <div class="col-xl-12 p-0">
                        <div class="mt-3 ml-1 mr-1 p-3 rounded-lg border border-white ">
                            <h3 class="mb-auto">远程唤醒</h3>
                            <div v-for="(data,key) in wol" class="mt-3 mb-auto rounded-lg border border-light">
                                <div class="m-3">
                                    <h4>{{ data.name }}</h4>
                                    <small class="d-inline">MAC:{{ data.mac }}</small>
                                    <div class="col-md-12 col-lg-12 d-flex justify-content-end d-block">
                                        <button type="button" v-on:click="bootWol(data.mac)"
                                            class="btn btn-success m-1">唤醒</button>
                                        <button type="button" v-on:click="delWol(data.uid)"
                                            class="btn btn-danger m-1">删除</button>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-3 mb-auto rounded-lg border border-light">

                                <div class="mt-3 ml-1 mr-1 p-3">
                                    <div class="d-flex justify-content-between d-block">
                                        <div class="mt-auto mb-auto">
                                            <h5>添加唤醒设备</h3>
                                        </div>
                                        <nav class="navbar navbar-dark">
                                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                                data-target="#addWolCollaspse" aria-expanded="false"
                                                aria-controls="addWolCollaspse">
                                                <span class="navbar-toggler-icon"></span>
                                            </button>
                                        </nav>
                                    </div>



                                    <div class="collapse" id="addWolCollaspse">
                                        <form class="m-2">
                                            <div class="form-group">
                                                <label for="name">设备名称</label>
                                                <input type="text" class="form-control" id="name" v-model="wname"
                                                    maxlength="10">
                                            </div>
                                            <div class="form-group">
                                                <label for="mac">MAC地址</label>
                                                <input type="text" class="form-control" id="mac"
                                                    aria-describedby="macHelp" v-model="wmac" maxlength="12">
                                                <small id="macHelp" class="form-text text-muted">不含符号的MAC地址</small>
                                            </div>
                                            <button class="btn btn-primary" v-on:click="addWol">添加</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 系统设置 -->
        <section id="pageSysSetting">
            <div class="d-flex justify-content-center">
                <div class="row col-12 p-0">
                    <div class="col-xl-12 p-0">
                        <div class="mt-3 ml-1 mr-1 p-3 rounded-lg border border-white">
                            <h3>通用设置</h3>
                            <form class="m-3">
                                <div class="form-group row">
                                    <label for="alarmInterval" class="col-sm-2 col-form-label">邮件发送间隔（秒）</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="alarmInterval"
                                            v-model="item.Common.alarmInterval">
                                    </div>
                                </div>
                            </form>
                            <h3>邮箱设置</h3>
                            <form class="m-3">

                                <div class="form-group row">
                                    <label for="smtpServer" class="col-sm-2 col-form-label">SMTP服务器</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="smtpServer"
                                            v-model="item.Mail.smtpServer">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="smtpPort" class="col-sm-2 col-form-label">SMTP端口</label>
                                    <div class="col-sm-10" maxlength="5">
                                        <input type="text" class="form-control" id="smtpPort"
                                            v-model="item.Mail.smtpPort">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="smtpUser" class="col-sm-2 col-form-label">SMTP用户</label>
                                    <div class="col-sm-10" maxlength="5">
                                        <input type="text" class="form-control" id="smtpUser"
                                            v-model="item.Mail.smtpUser">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="smtpPassword" class="col-sm-2 col-form-label">SMTP密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="smtpPassword"
                                            v-model="item.Mail.smtpPassword">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mailReceiver" class="col-sm-2 col-form-label">接收邮件邮箱</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="mailReceiver"
                                            v-model="item.Mail.mailReceiver">
                                    </div>
                                </div>
                            </form>
                            <h3>天气API设置</h3>
                            <form class="m-3">
                                <div class="form-group row">
                                    <label for="appid" class="col-sm-2 col-form-label">APPID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="appid" v-model="item.Weather.appid">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="appsecret" class="col-sm-2 col-form-label">APPSECRET</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="appsecret"
                                            v-model="item.Weather.appsecret">
                                    </div>
                                </div>
                            </form>
                            <h3>显示器设置</h3>
                            <form class="m-3">
                                <div class="form-group row">
                                    <label for="lcdSleepTime" class="col-sm-2 col-form-label">显示器休眠时间</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="lcdSleepTime" v-model="item.LCD.lcdSleepTime">
                                    </div>
                                </div>
                            </form>
                            <h3>设备控制GPIO设置</h3>
                            <form class="m-3">
                                <div class="form-group row">
                                    <label for="temperature" class="col-sm-2 col-form-label">温度 IO</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="temperature"
                                            v-model="item.CTL_GPIO.temperature">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="humditiy" class="col-sm-2 col-form-label">湿度 IO</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="humditiy"
                                            v-model="item.CTL_GPIO.humditiy">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="eco2" class="col-sm-2 col-form-label">eCO2 IO</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="eco2" v-model="item.CTL_GPIO.eco2">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="tvoc" class="col-sm-2 col-form-label">TVOC IO</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="tvoc" v-model="item.CTL_GPIO.tvoc">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="formaldehyde" class="col-sm-2 col-form-label">甲醛传感器 IO</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="formaldehyde"
                                            v-model="item.CTL_GPIO.formaldehyde">
                                    </div>
                                </div>
                            </form>
                            <h3>传感器集成板设置</h3>
                            <form class="m-3">
                                <div class="form-group row">
                                    <label for="serialDeviceName" class="col-sm-2 col-form-label">Serial设备</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="serialDeviceName"
                                            v-model="item.Hat.serialDeviceName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="baudRate" class="col-sm-2 col-form-label">波特率</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="baudRate"
                                            v-model="item.Hat.baudRate">
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 col-lg-12 d-flex justify-content-end d-block">
                                <button type="button" v-on:click="save" class="btn btn-success m-1">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>

        </footer>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
        <script>
            "use strict";
            // alert(returnCitySN["cip"]+returnCitySN["cname"]);
            var navData = new Vue({
                el: '#navbar',
                data: function () {
                    return {
                        showPage: 'pageOverview'
                    }
                },
                watch: {
                    showPage: function (showPage) {
                        $('#mainContainer section').slideUp("slow");
                        $('#' + showPage).slideDown('slow');
                    }
                }
            });
            var pageOverviewData = new Vue({
                el: '#pageOverview',
                data: function () {
                    return {
                        item: [],
                        weatherData: {
                            city: 'China',
                            update_time: '未更新',
                            wea: '晴',
                            tem: "13",
                            tem1: "None",
                            tem2: "None",
                            humidity: "75%",
                            visibility: "30km",
                            air_level: "None",
                            air_tips: "空气很好，可以外出活动，呼吸新鲜空气，拥抱大自然！"
                        },
                        time: '00:00:00',
                        date: 'NULL',
                        week: 'NULL',
                        weekList: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
                        sysStatus: 'NULL'
                    }
                },
                methods: {
                    zeroPadding: function (num, digit) {
                        var zero = '';
                        for (var i = 0; i < digit; i++) {
                            zero += '0';
                        }
                        return (zero + num).slice(-digit);
                    },
                    updateTime: function () {
                        var cd = new Date();
                        this.time = this.zeroPadding(cd.getHours(), 2) + ':' + this.zeroPadding(cd.getMinutes(), 2) + ':' + this.zeroPadding(cd.getSeconds(), 2);
                        this.date = this.zeroPadding(cd.getFullYear(), 4) + '-' + this.zeroPadding(cd.getMonth() + 1, 2) + '-' + this.zeroPadding(cd.getDate(), 2);
                        this.week = this.weekList[cd.getDay()]
                    },
                    getData: function () {

                        axios
                            .get('/control/sensorData.php', {
                                params: {
                                    mode: 'data'
                                }
                            })
                            .then(response => {
                                if (response.data == '-1') {
                                    for (item in pageOverviewData.$data.item) {
                                        pageOverviewData.$data['item'][item]['data'] = '后端未启动';
                                    }
                                } else {
                                    this.item = []
                                    for (var item in response.data) {
                                        var tId = 'target' + item;
                                        var tIdS = '#' + tId;
                                        this.item.push({
                                            'name': item,
                                            'cname': response.data[item]['cname'],
                                            'data': response.data[item]['data'],
                                            'status': response.data[item]['status'],
                                            'unit': response.data[item]['unit'],
                                            'comment': response.data[item]['comment'],
                                            'targetId': tId,
                                            'targetIdSharp': tIdS
                                        })
                                        // console.log(item);
                                    }
                                }

                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },
                    getWeather: function () {
                        // $.getJSON('address' + returnCitySN["cip"],
                        //     function (data) {
                        //         var count = 0;
                        //         for (var item in data) {
                        //             if (item in pageOverviewData.weatherData) {
                        //                 // weather.data[item]=data[item];
                        //                 count++;
                        //                 Vue.set(pageOverviewData.weatherData, item, data[item]);
                        //             }
                        //             if (count == 0) {
                        //                 Vue.set(pageOverviewData.weatherData, 'update_time', '更新失败');
                        //             }
                        //             // console.log(item);
                        //         }
                        //     });
                        axios
                            .get('/control/weatherData.php')
                            .then(response => {
                                var count = 0;
                                // console.log(response.data);
                                for (var item in this.weatherData) {
                                    // console.log(item)
                                    if (item in this.weatherData) {

                                        count++;
                                        Vue.set(this.weatherData, item, response.data[item]);
                                    }
                                    if (count == 0) {
                                        Vue.set(this.weatherData, 'update_time', '更新失败');
                                    }
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }

                },
                mounted: function () {
                    this.updateTime();
                    this.getWeather();
                    setInterval(this.updateTime, 100);
                    setInterval(this.getData, 1000);
                    setInterval(this.getWeather, 3600000);
                }
            });
            var pageSenceCtl = new Vue({
                el: '#pageSenceCtl',
                data: function () {
                    return {
                        item: [],
                        test: ""
                    }
                },
                methods: {
                    list: function () {
                        axios
                            .get('/control/sence.php', {
                                params: {
                                    mode: 'list'
                                }
                            })
                            .then(response => {
                                this.item = []
                                // var len = response.data.length;
                                for (var item in response.data) {
                                    // console.log(response.data[item].uid)
                                    if (response.data[item]['useEmail'] == 1) {
                                        response.data[item]['useEmail'] = true;
                                    } else {
                                        response.data[item]['useEmail'] = false;
                                    }
                                    if (response.data[item]['useWatcher'] == 1) {
                                        response.data[item]['useWatcher'] = true;
                                    } else {
                                        response.data[item]['useWatcher'] = false;
                                    }
                                    this.item.push(response.data[item])
                                }

                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },
                    save: function (uid) {

                        if (this.item[uid-1]['useEmail'] == true) {
                            this.item[uid-1]['useEmail'] = 1;
                        } else {
                            this.item[uid-1]['useEmail'] = 0;
                        }
                        if (this.item[uid-1]['useWatcher'] == true) {
                            this.item[uid-1]['useWatcher'] = 1;
                        } else {
                            this.item[uid-1]['useWatcher'] = 0;
                        }

                        // console.log(JSON.stringify(this.item[uid-1])) ;
                        axios
                            .get('/control/sence.php', {
                                params: {
                                    mode: 'save',
                                    data: JSON.stringify(this.item[uid-1])
                                }
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    }
                },
                mounted: function () {
                    this.list();
                }
            });
            var pageSysSetting = new Vue({
                el: '#pageSysSetting',
                data: function () {
                    return {
                        item: {
                            "Common": {
                                "DB": "",
                                "sendSerPort": "",
                                "httpPort": "",
                                "host": "",
                                "alarmInterval": "",
                                "usePHPWebServer": ""
                            },
                            "Mail": {
                                "smtpServer": "",
                                "smtpPort": "",
                                "smtpUser": "",
                                "smtpPassword": "",
                                "mailReceiver": ""
                            },
                            "Weather": {
                                "appid": "",
                                "appsecret": ""
                            },
                            "LCD": {
                                "lcdSleepTime": ""
                            },
                            "GPIO": {
                                "LCD": "",
                                "PIR": "",
                                "LDR": "",
                                "BUZ": ""
                            },
                            "CTL_GPIO": {
                                "temperature": "",
                                "humditiy": "",
                                "eco2": "",
                                "tvoc": "",
                                "formaldehyde": "",
                                "light": ""
                            },
                            "Hat": {
                                "serialDeviceName": "",
                                "mode": "",
                                "baudRate": ""
                            }
                        }
                    }
                },
                methods: {
                    list: function () {
                        axios
                            .get('/control/confCtl.php', {
                                params: {
                                    mode: 'list'
                                }
                            })
                            .then(response => {
                                this.item = response.data
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },
                    save: function () {
                        axios
                            .get('/control/confCtl.php', {
                                params: {
                                    mode: 'save',
                                    conf: JSON.stringify(this.item)
                                }
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    }
                },
                mounted: function () {
                    this.list();
                }
            });

            var deviceData = new Vue({
                el: '#pageDeviceCtl',
                data: function () {
                    return {
                        item: {
                            cpuTemp: {
                                id: 1,
                                name: 'CPU温度',
                                data: ' ',
                                unit: '℃'
                            },
                            sysUpTime: {
                                id: 2,
                                name: '系统运行时间',
                                data: ' ',
                                unit: ''
                            },
                            memUsed: {
                                id: 3,
                                name: '内存占用',
                                data: ' ',
                                unit: '%'
                            }
                        },
                        ip: [],
                        wol: [],
                        wname: "",
                        wmac: ""
                    }
                },
                methods: {
                    getData: function () {
                        axios
                            .get('/control/deviceData.php')
                            .then(response => {
                                for (var item in deviceData.$data.item) {
                                    deviceData.$data['item'][item]['data'] = response.data[item];
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    },
                    getIP: function () {
                        axios
                            .get('/control/deviceCtl.php', {
                                params: {
                                    mode: 'ip'
                                }
                            })
                            .then(response => {
                                this.ip = []
                                var len = response.data.length;
                                for (var item in response.data) {
                                    this.ip.push({
                                        'addr': response.data[item]
                                    })
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    },
                    reloadPage: function () {
                        this.reload()
                    },
                    reload: function () {
                        axios
                            .get('/control/deviceCtl.php', {
                                params: {
                                    mode: 'poweroff'
                                }
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },
                    reboot: function () {
                        axios
                            .get('/control/deviceCtl.php', {
                                params: {
                                    mode: 'reboot'
                                }
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },
                    poweroff: function () {
                        axios
                            .get('/control/deviceCtl.php', {
                                params: {
                                    mode: 'poweroff'
                                }
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },
                    bootWol: function (wmac) {
                        console.log(wmac);
                        axios
                            .get('/control/wol.php', {
                                params: {
                                    mode: 'boot',
                                    mac: wmac
                                }
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },
                    listWol: function () {
                        axios
                            .get('/control/wol.php', {
                                params: {
                                    mode: 'list'
                                }
                            })
                            .then(response => {
                                this.wol = []
                                // var len = response.data.length;
                                for (var item in response.data) {
                                    // console.log(response.data[item].uid)
                                    this.wol.push(response.data[item])
                                }

                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },
                    addWol: function () {
                        // 可在此处添加表单验证
                        axios
                            .get('/control/wol.php', {
                                params: {
                                    mode: 'add',
                                    name: this.wname,
                                    mac: encodeURI(this.wmac)
                                }
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },
                    delWol: function (id) {
                        axios
                            .get('/control/wol.php', {
                                params: {
                                    mode: 'del',
                                    uid: id
                                }
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    }
                },
                mounted: function () {
                    setInterval(this.getData, 1000);
                    setInterval(this.getIP, 1000);
                    setInterval(this.listWol, 1000);
                }
            });


            $(function () {
                $('.example-popover').popover({
                    container: 'body'
                })
            })
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>
</body>

</html>